@font-face {
  font-family: 'RobotoRegular';
  src: url('../../../font/Roboto/Roboto-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'RobotoBold';
  src: url('../../../font/Roboto/Roboto-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Bebas';
  src: url('../../../font/Bebas/BebasCyrillic.ttf')  format('truetype');
}
@font-face {
  font-family: 'BebasRegular';
  src: url('../../../font/Bebas/BebasNeueRegular.otf')  format('truetype');
}
@font-face {
  font-family: 'RobotoLight';
  src: url('../../../font/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('../../../font/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasOriginal';
  src: url('../../../font/Bebas/bebas.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url('../../../font/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
}